html,
body,
#root {
	height: 99%;
}

#root {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 25px;
}

.centralDiv {
	display: flex;
	flex-direction: column;
	justify-self: center;
	align-self: center;
}

fieldset {
	border-width: 0.2em;
	border-style: dashed;
	border-color: #2bb;
}

input {
	font-size: inherit;
}

button {
	font-size: inherit;
}

form > div {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0.5em;
	margin: 0.5em;
	line-height: 1.5em;
}

form > div > div {
	margin-left: 0.5em;
	margin-right: 0.5em;
}

fieldset legend {
	font-style: italic;
	color: #0f8;
}

.formError {
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	font-size: 0.8em;
	font-style: italic;
	color: #a00;
	background-color: #faf;
	border-radius: 1em;
}
